h1 {
    text-align: center;
    background: rgb(52, 203, 173);
    margin: 40px 0;
    padding: 5px;
}

.img_cats img {
    width: 25%;
    height: 200px;
    object-fit: contain;
    border: 2px solid black;
    background-color: gray;
    margin: 0 0 10px 20px;
}

.cats {
    text-align: center;
}

.audio audio{
    border: 4px double;
    border-radius: 20px;
    margin-left: 50px;
}

.video video {
    margin-left: 50px;
    padding: 20px;
    background-color: rgb(114, 122, 127);
}

iframe {
    margin-left: 50px;
    padding: 20px;
    background-color: rgb(114, 122, 127);
}